<div class="contenedor vh-100 vw-100">
  <div class="vh-100 vw-100 row">
    <div class="col-6 my-auto text-center">
      <div class="imgContainer">
        <img src="assets/imgs/login001.svg" class="img-fluid">
      </div>
    </div>
    <div class="col-6 my-auto">
      <div class="w-50 formContainer">
        <div class="">
          <span class="titulo">BIENVENIDO</span>
        </div>
        <div class="mt-2">
          <input type="text" placeholder="EMAIL"><br>
          <input type="text" placeholder="CONTRASEÑA"><br>
        </div>
        <div class="text-right my-4">
          <span class="passText">¿Olvidaste tu contraseña?</span>
        </div>
        <div class="text-center mt-3">
          <button class="mb-4">INICIAR SESIÓN</button><br>
          <span class="regText">AÚN NO TENGO CUENTA </span>
          <span class="regText linkText">REGISTRATE</span>
        </div>
      </div>
    </div>
  </div>
  <div class="dataBox rotation">
    <!-- <div class="test vw-100 vh-100"></div> -->
    <div class="boxtest"></div>
    <div class="test"></div>
    <!-- <div class="row vw-100">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="test w-100 vh-100">
        </div>
      </div>
    </div> -->
  </div>
</div>

<!-- <div class="contenedor w-100 vh-100">
  <div class="row">
    <div class="col-6">55</div>
    <div class="col-6">55</div>
  </div>
  <div class="fondo">
    asdasdasd
  </div>
</div> -->




<div class="vh-100 row" *ngIf="false">
  <div class="col-6 my-auto text-center">
    <div class="imgContainer">
      <img src="assets/imgs/login001.svg" class="img-fluid">
    </div>
  </div>
  <div class="col-6 my-auto">
    <div class="test w-100 vh-100">
    </div>
    <div class="w-50 formContainer">
      <div class="">
        <span class="titulo">BIENVENIDO</span>
      </div>
      <div class="mt-2">
        <input type="text" placeholder="EMAIL"><br>
        <input type="text" placeholder="CONTRASEÑA"><br>
      </div>
      <div class="text-right my-4">
        <span class="passText">¿Olvidaste tu contraseña?</span>
      </div>
      <div class="text-center mt-3">
        <button class="mb-4">INICIAR SESIÓN</button><br>
        <span class="regText">AÚN NO TENGO CUENTA </span>
        <span class="regText linkText">REGISTRATE</span>
      </div>
    </div>
  </div>
</div>
<!-- 
  #F05C4A
-->
