<nav class="container navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="logoContainer text-center">
    <img class="navbar-brand" width="45" alt="Needzaio" src="assets/imgs/navbarIcon.svg"/>
  </div>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="nav ml-auto mr-3">
      <li class="nav-item my-auto" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/home/sedes']" data-toggle="collapse" data-target="#mainMenu">Sedes</a>
      </li>
      <li class="nav-item my-auto" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/home/servicios']" data-toggle="collapse" data-target="#mainMenu">Servicios</a>
      </li>
      <li class="nav-item my-auto" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/home/doctores']" data-toggle="collapse" data-target="#mainMenu">Doctores</a>
      </li>
      <li class="nav-item my-auto" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/home/citas']" data-toggle="collapse" data-target="#mainMenu">Citas</a>
      </li>
      <li class="nav-item my-auto" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/home/nosotros']" data-toggle="collapse" data-target="#mainMenu">Nosotros</a>
      </li>
    </ul>
  </div>
</nav>
