nav {
    background: rgba(0,0,0,0) !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logoContainer{
    border-radius: 50%;
    background-color: white;
    width: 70px;
    height: 70px;
    padding-left: 10px;
}

.navbar-brand {
    padding-top: 10px;
}

a {
    color: white;
    font-weight: 300;
}

ul {
    padding-right: 1rem;
}

.nav-link {
    font-size: 0.8rem;
}

.active a {
    color: #ffeb3b !important;
    font-weight: 700;
}
