:root {
    /** Navbar */
    --nb-bg: rgba(0,0,0,0);
    --nb-tx: white;
    --nb-tx-sel: #ffeb3b;
    /** Footer */
    --ft-bg: #FF6752;
    --ft-tx-tittle: #FFE530;
    --ft-tx-gen: #FFFFFF;
    /** Views */
    --bg-login: #FF6752;
    --bg-img-cricle: #FFE530;
    --tx-tittle-general: #4D4F5C;
    --tx-descrip-general: #A4AFB7;
    --tx-link: #015F91;
    --btn-bg: #4487FF;
    --btn-tx: #F8F8F8;
    --tx-tittle-home: #FFFFFF;
    --tx-subtittle-home: #FF6752;
    --tx-general: #FFFFFF;
    --tx-general3: #808080;
}