:root {
    --testing001: red;
    --testing002: blue;
    --testing003: yellow;
    --testing004: cyan;

    --barra-general: #FF6752;

    --tittle-general: ##4D4F5C;


    --unnamed-color-f8f8f8: #F8F8F8;
    --unnamed-color-ff6752: #FF6752;
    --unnamed-color-fe6845: #FE6845;
    --unnamed-color-ffa046: #FFA046;
    --unnamed-color-4487ff: #4487FF;
    --unnamed-color-00225c: #00225C;
    --unnamed-color-808080: #808080;
    --unnamed-color-fd6845: #FD6845;
    --unnamed-color-b1bbcd: #B1BBCD;
    --unnamed-color-7569de: #7569DE;
    --unnamed-color-9ecb45: #9ECB45;
}