@import 'colors.scss';
/* ************************* Fonts ************************* */
@font-face {
    font-family: fontGibsonSemiBold;
    src: url(assets\fonts\Gibson-SemiBold.otf) format("opentype");
}
.fontGibsonSemiBold {
    font-family: 'fontGibsonSemiBold';
}
@font-face {
    font-family: fontOpenSansBold;
    src: url(assets\fonts\OpenSans-Bold.ttf) format("opentype");
}
.fontOpenSansBold {
    font-family: 'fontOpenSansBold';
}
@font-face {
    font-family: fontOpenSansRegular;
    src: url(assets\fonts\OpenSans-Regular.ttf) format("opentype");
}
.fontOpenSansRegular {
    font-family: 'fontOpenSansRegular';
}
@font-face {
    font-family: fontMuseoSansRounded700;
    src: url(assets\fonts\MuseoSansRounded700.otf) format("opentype");
}
.fontMuseoSansRounded700 {
    font-family: 'fontMuseoSansRounded700';
}
@font-face {
    font-family: fontComfortaaBold;
    src: url(assets\fonts\Comfortaa-Bold.ttf) format("opentype");
}
.fontComfortaaBold {
    font-family: 'fontComfortaaBold';
}


button {
    background-color: var(--btn-bg);
    border-radius: 38px;
    color: var(--btn-tx);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    border: none;
}

.appLoader {
    color: white;
}