<navbar></navbar>
<div class="container text-center">

  <section>
    <div class="row h-100">
      <div class="col-6 my-auto text-left pl-5">
        <span class="hTittleGen fontMuseoSansRounded700">We get pet Care!</span><br><br>
        <span class="hTextGen">We get pet Care!</span><br><br>
        <div>
          <button class="mr-5">Schedule Service</button>
          <span class="hTextGen">We get pet Care!</span>
        </div>
      </div>
      <div class="col-6 my-auto">
        <div class="imgContainer mx-auto">
          <img src="assets/imgs/homeSec1-001.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row h-100">
      <div class="col-6 my-auto text-left pl-5">
        <span class="hSubtittleGen fontComfortaaBold">Our Services</span><br><br>
        <span class="hTextGen2">We get pet Care!</span><br><br>
        <span class="hTextGen3">We get pet Care!</span><br><br>
        <div class="hSearching">
          <span>ZipCode</span>
          <div class="gGo text-center">d</div>
        </div>
      </div>
      <div class="col-6 my-auto row">
        <div class="col-6 mb-5">
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec2-001.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
        </div>
        <div class="col-6 mb-5">
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec2-002.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
        </div>
        <div class="col-6 mb-5">
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec2-003.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
        </div>
        <div class="col-6 mb-5">
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec2-004.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <span class="hSubtittleGen fontComfortaaBold">Our Services</span><br><br>
    </div>
    <div>
      carrousel
    </div>
  </section>

  <section>
    <div class="row h-100">
      <div class="col-6 my-auto row">
        <div class="col-6">
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec4-001.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec4-002.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec4-003.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
        </div>
      </div>
      <div class="col-6 my-auto text-left pl-5">
        <span class="hSubtittleGen fontComfortaaBold">How it Works</span><br><br>
        <span class="hTextGen2">We get pet Care!</span><br><br>
        <span class="hTextGen3">We get pet Care!</span><br><br>
        <div class="hSearching">
          <span>ZipCode</span>
          <div class="gGo text-center">d</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="h-100">
      <div class="hCard my-auto">
        <div class="row">
          <div class="col-4">
            <div class="imgContainer">
              <img src="assets/imgs/homeSec5-001.png" class="img-fluid">
            </div>
          </div>
          <div class="col-8 text-left pl-5 my-auto">
            <span class="hSubtittleGen">We get pet Care!</span><br><br>
            <span class="hTextGen">We get pet Care!</span><br>
            <span class="hTextGen">We get pet Care!</span><br>
            <span class="hTextGen">We get pet Care!</span><br><br>
            <button class="hBtn2">Join Now</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<appFooter></appFooter>
