.test {
    background-color: var(--ft-tx-gen);
}
.space {
    height: 80px;
    background-color: var(--nb-bg);
}

.back001 {
    // background-image: url('/assets/curves/home002.svg');
    background-image: url('/assets/curves/home001.svg');
    background-size: cover;
    background-repeat: no-repeat;
    // width: calc(220% + 1.3px);
    // position: relative;
    // display: block;
}

.contSec02 {
    position: absolute;
    z-index: 1;
}
.back002 {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        position: relative;
        display: block;
        width: calc(220% + 1.3px);
        height: 500px;
        transform: rotateY(180deg);
    }
    .shape-fill {
        fill: #4487FF;
    }
}
.back003 {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
        position: relative;
        display: block;
        width: calc(207% + 1.3px);
        height: 272px;
    }
    .shape-fill {
        fill: #4487FF;
    }
}
.back004 {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg {
        position: relative;
        display: block;
        width: calc(195% + 1.3px);
        height: 150px;
        transform: rotateY(180deg);
    }
    .shape-fill {
        fill: #FFE530;
    }
}
.back005 {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
        position: relative;
        display: block;
        width: calc(195% + 1.3px);
        height: 150px;
        transform: rotateY(180deg);
    }
    .shape-fill {
        fill: #FFE530;
    }
}
.back006 {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
        position: relative;
        display: block;
        width: calc(263% + 1.3px);
        height: 109px;
    }
    .shape-fill {
        fill: #FF6752;
    }
}

.imgContainer {
    background-color: var(--bg-img-cricle);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    img {
        height: 300px;
    }
}
.imgContainer3 {
    width: 300px;
    height: 300px;
    img {
        height: 300px;
    }
}

section {
    height: 90vh;
    position: relative;
}
.hTittleGen {
    color: var(--tx-tittle-home);
    font-size: 45px;
}
.hSubtittleGen {
    color: var(--tx-subtittle-home);
    font-size: 25px;
}
.hTextGen {
    color: var(--tx-general);
    font-size: 12px;
}
.hTextGen2 {
    color: var(--tx-general2);
    font-size: 12px;
}
.hTextGen3 {
    color: var(--tx-subtittle-home);
    font-size: 12px;
}

button {
    padding: 12px 22px;
    font-size: 12px;
}
.hBtn2 {
    padding: 12px 22px;
    font-size: 12px;
    background-color: #F8F8F8;
    color: #FE6845;
}

.hSearching {
    border: 1px solid #dfdddd;
    position: relative;
    //border: none;
    border-radius: 40px;
    padding: 12px 22px;
    background-color: white;
    width: 40%;
    box-shadow: 0px 3px 6px #00000029;
}

.gGo {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    margin: 9px;
    background-color: var(--tx-subtittle-home);
    border-radius: 50%;
}

.imgContainer2 {
    background-color: white;
    border: 1px solid #dfdddd;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    padding-top: 30px;
    box-shadow: 0px 3px 6px #00000029;
    img {
        height: 50px;
    }
    span {
        color: #707070;
    }
}

.hCard {
    background-color: #4487FF;
    border-radius: 10px;
    padding: 40px;
    margin-top: 100px;
}