<navbar></navbar>
<div class="space"></div>
<div class="text-center test">
  <section id="section001" #section001 class="back001">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-6 my-auto text-left pl-5">
          <span class="hTittleGen fontMuseoSansRounded700">Sedes FacaVet!</span><br><br>
          <span class="hTextGen">FacaVet tiene 6 sedes veterinarias en puntos centrales de Facatativa (Centro, Batallon, Rosales, Calle 15, Los Alpes y Los Olivos) .</span><br><br>
          <div>
            <button class="mr-5" [routerLink]="['/Map']">Ver en Mapa</button>
            <span class="hTextGen">o Llamanos 0180005566</span>
          </div>
        </div>
        <div class="col-6 my-auto">
          <div class="imgContainer3 mx-auto">
            <img src="assets/imgs/homeSec1-002.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section002" #section002>
    <div class="container h-100">
      <div class="contSec02 h-100">
        <div class="row h-100">
          <div class="col-6 my-auto text-left pl-5">
            <span class="hSubtittleGen fontComfortaaBold">Servicios Adicionales</span><br><br>
            <span class="hTextGen2">En nuestra red de clínicas veterinarias contamos con servicios adicionales realizados por expertos en diferentes disciplinas y equipos de última tecnología.</span><br><br>
            <span class="hTextGen3">Mira la lista completa!</span><br><br>
            <div class="hSearching" [routerLink]="['/serviciosAdicionales']">
              <span>Lista Completa</span>
              <div class="gGo text-center">
                <img src="assets/imgs/arrow-right.svg" class="hIcon"><br><br>
              </div>
            </div>
          </div>
          <div class="col-6 my-auto row">
            <div class="col-6 mb-4">
              <div class="imgContainer2 ml-auto mr-0">
                <img src="assets/imgs/homeSec2-001.svg" class="img-fluid"><br><br>
                <span class="hTextGen">Caminata</span>
              </div>
            </div>
            <div class="col-6 mb-4">
              <div class="imgContainer2">
                <img src="assets/imgs/homeSec2-002.svg" class="img-fluid"><br><br>
                <span class="hTextGen">Visita a domicilio</span>
              </div>
            </div>
            <div class="col-6 mb-4">
              <div class="imgContainer2 ml-auto mr-0">
                <img src="assets/imgs/homeSec2-003.svg" class="img-fluid"><br><br>
                <span class="hTextGen">Vivienda a medida</span>
              </div>
            </div>
            <div class="col-6 mb-4">
              <div class="imgContainer2">
                <img src="assets/imgs/homeSec2-004.svg" class="img-fluid"><br><br>
                <span class="hTextGen">Otros</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="back002">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <section id="section003" #section003>
    <div class="container h-100">
      <div class="contSec02 h-100 w-100">
        <div>
          <span class="hSubtittleGen fontComfortaaBold">Our Services</span><br><br>
        </div>
        <div>
          carrousel
        </div>
      </div>
    </div>
    <div class="back003">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
    <div class="back004">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
  
  </section>

  <section id="section004" #section004>
    <div class="row h-100">
      <div class="col-6 my-auto row">
        <div class="col-6">
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec4-001.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec4-002.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
          <div class="imgContainer2">
            <img src="assets/imgs/homeSec4-003.svg" class="img-fluid"><br><br>
            <span class="hTextGen">texto</span>
          </div>
        </div>
      </div>
      <div class="col-6 my-auto text-left pl-5">
        <span class="hSubtittleGen fontComfortaaBold">How it Works</span><br><br>
        <span class="hTextGen2">We get pet Care!</span><br><br>
        <span class="hTextGen3">We get pet Care!</span><br><br>
        <div class="hSearching">
          <span>ZipCode</span>
          <div class="gGo text-center">d</div>
        </div>
      </div>
    </div>

    <div class="back005">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
  </section>

  <section id="section005" #section005>
    <div class="h-100">
      <div class="hCard my-auto">
        <div class="row">
          <div class="col-4">
            <div class="imgContainer">
              <img src="assets/imgs/homeSec5-001.png" class="img-fluid">
            </div>
          </div>
          <div class="col-8 text-left pl-5 my-auto">
            <span class="hSubtittleGen">We get pet Care!</span><br><br>
            <span class="hTextGen">We get pet Care!</span><br>
            <span class="hTextGen">We get pet Care!</span><br>
            <span class="hTextGen">We get pet Care!</span><br><br>
            <button class="hBtn2">Join Now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="back006">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
  </section>
</div>
<appFooter></appFooter>
