<div class="container text-center">
  <navbar></navbar>

  <section>
    <div class="row">
      <div class="col-6">
        <span>We get pet Care!</span><br>
        <span>We get pet Care!</span>
        <div>
          <button>Shedule</button>
          <span>We get pet Care!</span>
        </div>
      </div>
      <div class="col-6">
        <div class="imgContainer">
          <img src="assets/imgs/homeSec1-001.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-6">
        <span>We get pet Care!</span><br>
        <span>We get pet Care!</span>
        <div>
          <button>Shedule</button>
          <span>We get pet Care!</span>
        </div>
      </div>
      <div class="col-6 row">
        <div class="col-6">
          <div class="imgContainer">
            <img src="assets/imgs/homeSec2-001.svg" class="img-fluid">
          </div>
        </div>
        <div class="col-6">
          <div class="imgContainer">
            <img src="assets/imgs/homeSec2-002.svg" class="img-fluid">
          </div>
        </div>
        <div class="col-6">
          <div class="imgContainer">
            <img src="assets/imgs/homeSec2-003.svg" class="img-fluid">
          </div>
        </div>
        <div class="col-6">
          <div class="imgContainer">
            <img src="assets/imgs/homeSec2-004.svg" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div>
      <span>TITLE</span>
    </div>
    <div>
      carrousel
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-6 row">
        <div class="col-6">
          <div class="imgContainer">
            <img src="assets/imgs/homeSec4-001.svg" class="img-fluid">
          </div>
          <div class="imgContainer">
            <img src="assets/imgs/homeSec4-002.svg" class="img-fluid">
          </div>
        </div>
        <div class="col-6">
          <div class="imgContainer">
            <img src="assets/imgs/homeSec4-003.svg" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-6">
        <span>We get pet Care!</span><br>
        <span>We get pet Care!</span>
        <div>
          <button>Shedule</button>
          <span>We get pet Care!</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-4">
        <div class="imgContainer">
          <img src="assets/imgs/homeSec5-001.png" class="img-fluid">
        </div>
      </div>
      <div class="col-8">
        <span>We get pet Care!</span><br>
        <span>We get pet Care!</span>
        <div>
          <button>Shedule</button>
          <span>We get pet Care!</span>
        </div>
      </div>
    </div>
  </section>

  <footer></footer>
</div>
