
<footer class="pb-5">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-3" [routerLink]="['/servicios']">
        <div class="mt-3">
          <span class="fTittle">Servicios</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Caminata</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Visita a domicilio</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Vivienda a medida</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Baño</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Vacunación</span>
        </div>
      </div>
      <div class="col-3" [routerLink]="['/Sedes']">
        <div class="mt-3">
          <span class="fTittle">Sedes</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Centro</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Batallon</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Rosales</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Calle 15</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Los Alpes</span>
        </div>
      </div>
      <div class="col-3" [routerLink]="['/Sedes']">
        <div class="mt-3">
          <span class="fTittleFake">About</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Los Olivos</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Contactanos</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Citas</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Doctores</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Mapa</span>
        </div>
      </div>
      <div class="col-3" [routerLink]="['/Nosotros']">
        <div class="mt-3">
          <span class="fTittle">Nosotros</span>
        </div>
        <div class="mt-3">
          <span class="fText" >Suscribete a nuestro newletter y recibe las mejores noticias y promociones</span>
        </div>
        <div class="hSearching mt-4" [routerLink]="['/serviciosAdicionales']">
          <span>Suscribete</span>
          <div class="gGo text-center">
            <i class="fa fa-arrow-right mt-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>