footer {
    background-color: var(--ft-bg);
    font-size: 0.8rem;
}

.fTittle {
    color: var(--ft-tx-tittle);
    font-size: 1rem;
    font-weight: bold;
}

.fText {
    color: var(--ft-tx-gen);
}