
<footer class="pb-5">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-3">
        <div class="mt-3">
          <span class="fTittle">About</span>
        </div>
        <div class="mt-3">
          <span class="fText">Locations</span>
        </div>
        <div class="mt-3">
          <span class="fText">Franchise With Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Partners</span>
        </div>
        <div class="mt-3">
          <span class="fText">About Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Make Fetch Happent</span>
        </div>
      </div>
      <div class="col-3">
        <div class="mt-3">
          <span class="fTittle">About</span>
        </div>
        <div class="mt-3">
          <span class="fText">Locations</span>
        </div>
        <div class="mt-3">
          <span class="fText">Franchise With Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Partners</span>
        </div>
        <div class="mt-3">
          <span class="fText">About Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Make Fetch Happent</span>
        </div>
      </div>
      <div class="col-3">
        <div class="mt-3">
          <span class="fTittle">About</span>
        </div>
        <div class="mt-3">
          <span class="fText">Locations</span>
        </div>
        <div class="mt-3">
          <span class="fText">Franchise With Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Partners</span>
        </div>
        <div class="mt-3">
          <span class="fText">About Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Make Fetch Happent</span>
        </div>
      </div>
      <div class="col-3">
        <div class="mt-3">
          <span class="fTittle">About</span>
        </div>
        <div class="mt-3">
          <span class="fText">Locations</span>
        </div>
        <div class="mt-3">
          <span class="fText">Franchise With Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Partners</span>
        </div>
        <div class="mt-3">
          <span class="fText">About Us</span>
        </div>
        <div class="mt-3">
          <span class="fText">Make Fetch Happent</span>
        </div>
      </div>
    </div>
  </div>
</footer>